<div class="row">
    <div class="col-6">
        
       GRAFICA
       
   </div>
</div> 
<div class="row">
    <div class="col-6">
        <div class = "card-body">
            <app-donut title="Ventas"
                        
                        ></app-donut>
            GRAFICA
        </div>       
   </div>
</div> 
<div class="row">
    <div class="col-6">
       
        <app-donut 
                    title="Compras"></app-donut>
       
   </div>
</div> 
<div class="row">
     <div class="col-6">
        
        <app-donut title="Cambios"></app-donut>
        
    </div>
</div> 
